// ==================================
    // Inputs & Labels
// ==================================

input[type="text"],
input[type="email"],
input[type="url"],
textarea {
    @extend %input;
}

input[type="submit"] {
    @include button(large,primary);
}

label {
    display: block;
    margin: 0 0 5px;
}

// ==================================
    // Alerts
// ==================================

.alert {
    display: inline-block;
    padding: $default-spacer;
    border-radius: 2px;
    line-height: 1;

    &--error {
        @extend .alert;

        background: $alert-error;
        border: 1px solid darken($alert-error,5%);
        color: darken($alert-error,50%);
    }

    &--ok {
        @extend .alert;

        background: $alert-ok;
        border: 1px solid darken($alert-ok,10%);
        color: darken($alert-ok,60%);
    }
}