.container {
    @extend %clearfix;

	position: relative;
	width: 90%;
	max-width: $site-width;
	margin: auto;
}

.group {
    @extend %clearfix;

    margin-right: $gutter/2;
    margin-left: $gutter/2;

}