.container {
    @include center($site-width);
    @extend %clearfix;

    position: relative;

    @include bp($site-width + ($gutter*2)) {
    	padding: 0 $gutter;
    }

    @include bp(x-small) {
    	padding: 0 $mobile-gutter;
    }
}