@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

body {
	color: $base-text-color;
	font: {
		family: $body-font;
		size: 100%;
	}
	line-height: $base-line-height;
}

a {
	color: $primary-brand-color;
	font-weight: $link-font-weight;
	text-decoration: none;

	&:hover {
		color: $secondary-brand-color;
		transition: all .5s ease;
	}
}

h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }
h6 { @extend %h6; }

.post__title {
	margin: 0 0 $heading-margin*2;
}

p {
	margin: 0 0 $p-margin;
}

blockquote {

	p {
		color: lighten($base-text-color,20%);
		font: {
			family: $serif;
			size: 1.25em;
			style: italic;
			weight: 400;
		}
		line-height: 1.75;

		@include bp(x-small) {
			font: {
				size: 1em;
			}
		}
	}

	cite {
		color: $secondary-brand-color;
		font: {
			size: 1em;
			weight: 400;
			style: normal;
		}
	}

}