body {
	color: $base-text-color;
	font: {
		family: $body-font;
		size: 100%;
	}
	line-height: $base-line-height;
}

a {
	color: $primary-brand-color;
	font-weight: $link-font-weight;
	text-decoration: none;

	&:hover {
		color: $secondary-brand-color;
		transition: all .5s ease;
	}
}

h1 { @extend %h1; }
h2 { @extend %h2; }
h3 { @extend %h3; }
h4 { @extend %h4; }
h5 { @extend %h5; }
h6 { @extend %h6; }

.lead {
	color: $secondary-brand-color;
	font: {
		family: $heading-font;
		size: 1.5em;
		weight: 400;
	}
}