!.gitignore
!README.md

# NPM
node_modules
npm-debug.log

# composer
/vendor

#theme
index.html

# assets
/public/styles
/public/js
/public/img
/public/fonts
/public/cache

# generic
.DS_Store
.sass-cache
*.sublime*
_deploy
!.gitkeep