!.gitignore
!README.md

# NPM
node_modules
npm-debug.log

# composer
/vendor

# build
/assets/css
/assets/js/*.min.*
/public

# generated directories
_deploy
_build

# ftp
hostconfig.json

# generic
.DS_Store
.sass-cache
*.sublime*
!.gitkeep