$base-text-color: #4b4b4b;

$primary-brand-color: #4d5fa8;
$secondary-brand-color: #74bdda;
$alt-brand-color: #ee72ac;

$light-grey: #f4f4f4;

// General Colour Variables
$red: #9c363c;
$blue: #2c5a93;
$white: #fff;
$black: #231f20;
$yellow: #e1d148;
$green: #34a36a;
$orange: #e44e36;