// ==================================

    // Generic Colour Values

// ==================================

$red: #9c363c;
$blue: #2c5a93;
$white: #fff;
$black: #231f20;
$yellow: #e1d148;
$green: #34a36a;
$orange: #e44e36;
$light-grey: #e4e4e4;

$ok: #edfdd3;
$error: #ffe6e3;

// ==================================

    // Useful Brand Colours

// ==================================

$facebook: #3b5998;
$twitter: #00aced;
$instagram: #517fa4;
$googleplus: #dd4b39;

// ==================================

    // Site Specific Colours

// ==================================

$base-text-color: #4b4b4b;

$primary-brand-color: #4d5fa8;
$secondary-brand-color: #74bdda;
$alt-brand-color: #ee72ac;