// Generic Font Declatarions
// ========================= //

$sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: Georgia, Times, serif;

// Site Specific Font Styles
// ========================= //

$body-font: $sans;
$base-line-height: 1.5;

$link-font-weight: 400;
$link-color: $primary-brand-color;
$link-hover-color: $secondary-brand-color;

$heading-font: $sans;
$heading-font-weight: 700;

// Margins
// ======= //

$heading-margin: 30px;
$p-margin: 20px;