$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: Georgia, Times, serif;

$body-font: null;
$body-font: $sans-serif !default;

$heading-font: null;
$heading-font: $sans-serif !default;
$heading-font-weight: 700 !default;