// Generic Font Declatarions
// ===================================
$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: Georgia, Times, serif;

// Site Specific Font Styles
// ===================================
$body-font: null;
$body-font: $sans-serif !default;

$heading-font: null;
$heading-font: $sans-serif !default;
$heading-font-weight: 700 !default;

// Margins
// ===================================
$heading-margin: 20px;
$p-margin: $default-spacer;