@mixin button($size,$theme) {
    display: inline-block;
    border: none;
    color: $white;
    font-family: $heading-font;
    font-weight: $heading-font-weight;

    @if $size == "default" {
        height: 40px;
        padding: 0 15px;
        border-radius: 4px;
        font-size: 1em;
        line-height: 40px;
    } @elseif $size == "large" {
        height: 50px;
        padding: 0 25px;
        border-radius: 6px;
        font-size: 1.25em;
        line-height: 50px;
    }

    @if $theme == "primary" {
        background: $primary-brand-color;
    } @elseif $theme == "secondary" {
        background: $secondary-brand-color;
    }

    &:hover {
        color: $white;
        transition: all .3s linear;

        @if $theme == "primary" {
            background: lighten($primary-brand-color,10%);
        } @elseif $theme == "secondary" {
            background: lighten($secondary-brand-color,10%);
        }
    }
}