// Background Size
// =============== //
@mixin background-size($value) {
	background-size: $value;
	background-repeat: no-repeat;
	background-position: center center;
}

// Shapes
// ============== //

// Square
@mixin square($size) {
	display: block;
	height: $size;
	width: $size;
	line-height: $size;
	text-align: center;
}

// Circle
@mixin circle($size) {
	@include square($size);

	border-radius: 50%;
}

// Hide Text
// ========= //
@mixin hide-text {
	display: block;
	text-align: left;
	text-indent: -9999px;
}

// Reset Any Alignment
// =================== //
@mixin reset-align {
	position: relative;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
	transform: none;
}