@mixin col($columns) {
	width: 100% * ($columns / 12;
	float: left;
	padding: $gutter / 2;
}

@mixin push($columns) {
	@if $columns == 0 {
		margin-left: 0;
	} @else {
		margin-left: 100% * ($columns / 12);
	}
}

@mixin pull($columns) {
	@if $columns == 0 {
		margin-right: 0;
	} @else {
		margin-right: 100% * ($columns / 12);
	}
}