// Clearfix
// ======== //
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

// Reset Any Alignment
// =================== //
@mixin reset-align {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    transform: none;
}