body {
	color: $base-text-color;
	font: {
		family: $body-font;
		size: 100%;
	}
	line-height: $base-line-height;
}

// Links
a {
	color: $link-color;
	font-weight: $link-font-weight;
	text-decoration: none;

	&:hover {
		color: $link-hover-color;
		transition: all .5s ease;
	}
}

// Headings
h1 {
	@include heading($h1-color);
	@include heading-size(2em, 1.2);
}

h2 {
	@include heading($h2-color);
	@include heading-size(1.75em, 1.2);
}

h3 {
	@include heading($h3-color);
	@include heading-size(1.5em, 1.2);
}

h4 {
	@include heading($h4-color);
	@include heading-size(1.25em, 1.2);
}

h5 {
	@include heading($h5-color);
	@include heading-size(1.125em);
}

h6 {
	@include heading($h6-color);
	@include heading-size(1em);
}

// Margins
p,
ul,
ol,
table {
	margin: 0 0 $p-margin;
}