body {
	color: $base-text-color;
	font: {
		family: $body-font;
		size: 100%;
	}
	line-height: $base-line-height;
	-webkit-font-smoothing: antialiased;
}

// Links
// ------------------------- //

a {
	color: $link-color;
	font-weight: $link-font-weight;
	text-decoration: underline;

	&:hover {
		color: $link-hover-color;
		transition: all .5s ease;
	}
}

// Headings
// ------------------------- //

h1 {
	font-size: em(32);
	line-height: 1.25;

	@include bp($xsmall) { font-size: em(24); }
}

h2 {
	font-size: em(28);
	line-height: 1.25;

	@include bp($xsmall) { font-size: em(22); }
}

h3 {
	font-size: em(24);

	@include bp($xsmall) { font-size: em(20); }
}

h4 {
	font-size: em(20);

	@include bp($xsmall) { font-size: em(18); }
}

h5 {
	font-size: em(18);

	@include bp($xsmall) { font-size: em(16); }
}

h6 {
	font-size: em(16);

	@include bp($xsmall) { font-size: em(14); }
}

// Margins
// ------------------------- //

h1,h2,h3,h4,h5,h6,
p,ul,ol,table,
blockquote {
	margin-top: 0;
	margin-bottom: 30px;

	@include bp($xsmall) { margin-bottom: 20px; }
}

// Misc
// ------------------------- //

.lead {
	font: {
		size: em(20);
		weight: 700;
	}
}