.alert {
    display: block;
    margin-bottom: 20px; // #temp
    padding: 15px 20px;
    background-color: #fff0b7;
    border: {
        width: 1px;
        style: solid;
        color: rgba(0, 0, 0, 0.05);
    }
    color: rgba(0, 0, 0, 0.5);
    font-size: em(15);
    line-height: 1.25;

    p { margin: 0; }

    &--info {
        @extend .alert;

        background-color: #d8ecf6;
    }

    &--success {
        @extend .alert;

        background-color: #d8e7d9;
    }

    &--error {
        @extend .alert;

        background-color: #f0bbc6;
    }
}