.button {
	display: inline-block;
	border: none;
	border-radius: 2px;
	font: {
		family: $button-font;
		weight: $button-font-weight;
	}
	text-transform: uppercase;

	&--small {
		@extend .button;

		height: 40px;
		padding: 0 30px;
		font-size: .875em;
		line-height: 40px;
	}

	&--large {
		@extend .button;

		height: 60px;
		padding: 0 40px;
		font-size: 1.125em;
		line-height: 60px;

		@include bp($xsmall) {
			height: 40px;
			padding: 0 30px;
			font-size: .875em;
			line-height: 40px;
		}
	}

	&--primary {
		background: $primary-brand-color;
		color: $white;

		&:hover {
			background: lighten($primary-brand-color,10%);
			color: $white;
		}

		&.button--ghost {
			background: transparent;
			border: 1px solid $primary-brand-color;
			color: $primary-brand-color;

			&:hover {
				background: $primary-brand-color;
				color: $white;
			}
		}
	}

	&--secondary {
		background: $secondary-brand-color;
		color: $white;

		&:hover {
			background: lighten($secondary-brand-color,10%);
			color: $white;
		}

		&.button--ghost {
			background: transparent;
			border: 1px solid $secondary-brand-color;
			color: $secondary-brand-color;

			&:hover {
				background: $secondary-brand-color;
				color: $white;
			}
		}
	}

	&--alt {
		background: $alt-brand-color;
		color: $white;

		&:hover {
			background: lighten($alt-brand-color,10%);
			color: $white;
		}

		&.button--ghost {
			background: transparent;
			border: 1px solid $alt-brand-color;
			color: $alt-brand-color;

			&:hover {
				background: $alt-brand-color;
				color: $white;
			}
		}
	}

	&--white {
		background: $white;
		color: $primary-brand-color;

		&:hover {
			background: $white;
			color: $primary-brand-color;
		}

		&.button--ghost {
			background: transparent;
			border: 1px solid $white;
			color: $white;

			&:hover {
				background: $white;
				color: $primary-brand-color;
			}
		}
	}

}