table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
    font-size: .875em;
}

th {
	padding: 10px;
	background: $light-grey;
	color: $base-text-color;
    font: {
        family: $heading-font;
        weight: $heading-font-weight;
    }
    text-align: left;
}

td {
	padding: 10px;
	border-bottom: 1px solid $light-grey;
}