// ===========================
// Variables
// ===========================

@import "variables/colors";
@import "variables/config";
@import "variables/typography";

// ===========================
// Mixins
// ===========================

@import "mixins/breakpoints";
@import "mixins/helpers";
@import "mixins/icons";
@import "mixins/buttons";
@import "mixins/gradients";

// ===========================
// Vendor
// ===========================
@import "vendor/jeet/index";

// ===========================
// Partials
// ===========================

@import "partials/reset";
@import "partials/layout";
@import "partials/typography";
@import "partials/buttons";
@import "partials/forms";
@import "partials/lists";
@import "partials/tables";
@import "partials/header";
@import "partials/navigation";
@import "partials/footer";
@import "partials/pages";
@import "partials/misc";

// ===========================
// Placeholders
// ===========================

@import "placeholders/forms";
@import "placeholders/layout";
@import "placeholders/misc";
@import "placeholders/typography";