%h1, %h2, %h3, %h4, %h5 {
	margin: $heading-margin;
	color: $primary-brand-color;
	font: {
		family: $heading-font;
		weight: $heading-font-weight;
	}
	line-height: 1.2;

	a {
		color: $primary-brand-color;
		font-weight: $heading-font-weight;
	}
}

%h6 {
	font: {
		family: $body-font;
		weight: 700;
	}
}

%h1 { font-size: 2em; }
%h2 { font-size: 1.75em; }
%h3 { font-size: 1.5em; }
%h4 { font-size: 1.25em; }
%h5 { font-size: 1.125em; }
%h6 { font-size: 1em; }

blockquote p {
	color: lighten($base-text-color,20%);
	font: {
		family: $serif;
		size: 1.25em;
		style: italic;
		weight: 400;
	}
	line-height: 1.75;

	@include bp(x-small) {
		font: {
			size: 1em;
		}
	}
}

cite {
	color: $secondary-brand-color;
	font: {
		size: 1em;
		weight: 400;
	}
}